#sf .post-component .hljs {
  margin-top: 20px;
  font-size: 16px;
}

#sf .post-component .body a {
  transition: border-bottom-color 250ms ease, color 250ms ease;
  font-weight: 500;
  border-bottom: 1px solid transparent;
  text-decoration: none;
  color: #000000;
}

#sf .post-component .body a:hover {
  border-bottom-color: #76736E;
}

#sf .post-component .body a:active {
  color: #000000;
}

#sf .post-component .body h3 {
  margin: 0;
  padding: 0 0 5px 0;
  font-weight: 500;
  font-size: 21px;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

#sf .post-component .body hr {
  margin: 0;
  padding: 0;
  border: none;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

#sf .post-component .body p {
  margin-top: 20px;
  line-height: 23px;
}

#sf .post-component .body h3 + p {
  margin-top: 10px;
}

#sf .post-component .body p code {
  padding: 2px 6px 3px 6px;
  background: #FFF3DD;
  border-radius: 2px;
  font-size: 16px;
  color: rgba(0,0,0,0.8);
}

#sf .post-component .body strong {
  font-weight: 600;
}

#sf .post-component .body blockquote {
  margin: 20px 0 0 0;
  padding: 15px;
  background: #333;
  border-radius: 3px;
  color: #FFFFFF;
}

  #sf .post-component .body blockquote p {
    margin-top: 0;
  }
